<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaunchManager</title>
</head>
<body>
    <h1>todoapp</h1> 
    <form action="/start_backend" method="post">
        <button type="submit" {% if backend_running %}disabled{% endif %}>
            Backend start
        </button>
    </form>
    <h2>
        {% if backend_running %}
            <span style="color: green;">● 起動中</span>
        {% else %}
            <span style="color: red;">● 停止中</span>
        {% endif %}
    </h2>
    <form action="/stop_backend" method="post">
        <button {% if not backend_running %}disabled{% endif %}>
            Backend stop
        </button>
    </form>
    <form action="/restart_backend" method="post">
        <button {% if not backend_running %}disabled{% endif %}>
            Backend restart
        </button>
    </form>

</body>
</html>